---
layout: default
---
{% capture readtime %}{{ page.content | number_of_words | plus:91 | divided_by:180 }}{% endcapture %}
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
      {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
      {% if readtime == '0' %} &lt; 1{% else %}{{ readtime }}{% endif %} min. read &bull;
      <a href="#disqus_thread" data-disqus-identifier="{{ page.path | split:'/' | last | cgi_escape }}">Comments</a>
    </p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

{% if post.comments != false %}
  <div id="disqus_thread"></div>
{% endif %}
</div>
